<div class="jumbotron text-center">
    <!-- title comes from app.js as object -->
    <p class="display-3">{{title}}</p>
    <p class="lead">{{section}}</p>
    <a href="/add" class="btn btn-dark btn-lg">Add Video Idea</a>
</div>